<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
</head>

<body>
  <script src="./vue.js"></script>
  <div id="app">
    <!-- <div v-bind:title="titlemsg"> -->
    <div :title="titlemsg">
      Keep you mouse pointer here for seconds, and you will see the title.
    </div>

    <div v-html="rawHtml" v-if="visible">
      {{ rawHtml }}
    </div>

    <ol>
      <li v-for="name in names">{{ name }}</li>
    </ol>

    <!-- <button v-on:click="revmsg"> -->
    <button @click="revmsg">
      {{ btnmsg | mycapitalize | myemoji }}
    </button>
    <br>

    <input v-model="btnmsg">

    <!-- user defined component -->
    <todolist :list="tasks"></todolist>
  </div>

  <script>
Vue.component("todolist", {
  props: [ "list" ],
  template: '<ul><li v-for="todo in list" :id="todo.id">{{ todo.text }}</li></ul>',
});

var app = new Vue({
  el: "#app",

  // Component data is stored in "data" and "computed"
  data: {
    rawHtml: "<em>This is just a test for</em> <strong>visible</strong>",
    visible: true,
    names: [ "Bruce", "Clark", "Diana" ],
    btnmsg: "mybutton",
    tasks: [
      { id: 0, text: "Buy usb drive" },
      { id: 2, text: "Return book to library" },
    ],
  },
  computed: {
    titlemsg: function () {
      return "hello, world!".toUpperCase();
    },
  },
  watch: {
    btnmsg: function (value) {
      console.log("(watch)btnmsg changed to " + value);
    },
  },

  methods: {
    revmsg: function () {
      this.btnmsg = this.btnmsg.split('').reverse().join('');
    },
  },

  filters: {
    mycapitalize: function (value) {
      if (value)
        return value.toString().charAt(0).toUpperCase() + value.slice(1);
      else
        return '';
    },
    myemoji: function (value) {
      return value + " ;)";
    },
  },

  // Life cycle functions
  created: function () {
    console.log("app will be created, titlemsg: " + this.titlemsg);
  },

  mounted: function () {
    console.log("app will be mounted");
  },

  updated: function () {
    console.log("app will be updated");
  },

  destroyed: function () {
    console.log("app will be destroyed");
  },
});

  </script>
</body>
</html>
